header {
    background-color: navy;
    line-height: 1em;
    color: white;
    text-align: center;
    max-width: 500px;
    font-family: 'Acme', sans-serif;
}

img {
    display: block;
    float: right;
    margin: 10px;
     
}

footer {
    background-color:navy;
    color: white;
    text-align: center;
    max-width: 500px;
    font-family: 'Acme', sans-serif;
    line-height: 1.5em;
    
}