header {
    background-color: navy;
    line-height: 1em;
    color: white;
    text-align: center;
    font-family: 'Acme', sans-serif;
    padding: 3px;
    border-radius: 10px;
}
header, footer, main {
    max-width: 500px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

hr {
    max-width: 500px;
}
img {
    display: block;
    float: right;
    margin: 10px;
    max-width: 100px;
    border-radius: 10px;
}

footer {
    background-color:navy;
    color: white;
    text-align: center;
    font-family: 'Acme', sans-serif;
    padding: 2px;
    border-radius: 10px;
    
}

footer a {
    color: white;
}


