header,
footer {
    background-color: navy;
    line-height: 1em;
    color: white;
    text-align: center;
    font-family: 'Acme', sans-serif;
    padding: 3px;
    margin: 0 auto;
    max-width: 400px;
    border-radius: 10px;
}

main {
   
    padding: 10px;
    font-family: 'Playfair Display', serif;
    max-width: 400px;
}

section {
    background-color: rgb(132, 222, 238);
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    margin: 20px;
    text-indent: 20px;
}

img {
    max-width: 300px;
    border-radius: 10px;
}


a:visited {
    color: white
}