@media only screen and (min-width: 32.5em) {
  
    
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		color: black;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}

	main {
		max-width: 800px;
	}
}

.sec2 {
  display: block;
}

.col {
    flex: 1 1 100%;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    background-color: #f2f2f8;
    font-size: 13px;
    text-align: center;
}

.flex div:last-child {
    border-right: 1px solid #333;
}

.label {
    display: block;
    padding: 5px;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #333;
    background-color: #fbfb64;
}

.flex div img,
table img {
    border-radius: 100px;
    padding: 5px;
}

.data {
    display: block;
    padding: 0 5px 5px;
    font-size: 2em;
}

table,
th,
td {
    border: 1px solid #333;
    border-collapse: collapse;
    padding: 5px;
}

th {
    font-weight: 700;
    font-size: 15px;
    background-color: #eee;
}

td {
    background-color: #bed;
    font-size: 13px;
    text-align: center;
}

.map img {
	display: block;
    max-width: 75%;
    box-shadow: 0 0 30px #111;
    border: 1px solid #000;
    margin: 15px;
}