header,
footer,
.heading {
    background-color: #0e0e88;
    color: white;
    font-family: 'Acme', sans-serif;
    padding: 5px;
    margin: 0 auto;
}

header {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.m {
    font-style: italic;
    letter-spacing: 1pt;
    color: white;
    margin-left: 20px;
    font-size: .9rem;
}


footer {
    line-height: 2em;
    text-align: center;

}

footer a {
    color: white;
}

nav {
    margin: 0 auto;
    background-color: #fbfb64;
    font-family: 'Acme', sans-serif;
}

.navigation {
    list-style: none;
    padding: 0;

}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.active {
    background-color: #f2f2f8;
}

.sec2 {
    display: none;
}

.navigation a {
    display: block;
    color: black;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    margin: 0 auto;
}

.navigation a:hover {
    background-color: #0e0e88;
    color: white;
    font-weight: 700;
}

.responsive li {
    display: block;
}

main {
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
   
}

.font1 {
    font-family: 'Playfair Display', serif;
}

.font2 {
    font-family: 'Acme', sans-serif;
}

h2 {
    text-align: center;
    padding: 10px;
}

h3 {
    font-weight: bold;
}

.sec1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
p {
    margin: 0;
}

.sec2,
.sec3,
.sec4 {
    padding: 20px;
}

.stats {
    position: absolute;
    top: 250px;
    left: 100px;
    background: radial-gradient(#eee, #f2f2f8);
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
    line-height: 1.5rem;
    box-shadow: 0 0 20px #111;
}

.flex {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1 1 100%;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    background-color: #f2f2f8;
    font-size: 13px;
    text-align: center;
}

.flex div:last-child {
    border-right: 1px solid #333;
}

.label {
    display: block;
    padding: 5px;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #333;
    background-color: #fbfb64;
}

.flex div img,
table img {
    border-radius: 100px;
    padding: 5px;
}

.data {
    display: block;
    padding: 0 5px 5px;
    font-size: 2em;
}

table,
th,
td {
    border: 1px solid #333;
    border-collapse: collapse;
    padding: 5px;
}

th {
    font-weight: 700;
    font-size: 15px;
    background-color: #eee;
}

td {
    background-color: #bed;
    font-size: 13px;
    text-align: center;
}

.article {
    background: radial-gradient(#eee, #f2f2f8);
    border: 1px solid #000;
    padding: 1.5rem;
    line-height: 1.5rem;

}

.article img {
    max-width: 50%;
    float: right;
    box-shadow: 0 0 30px #111;
    border: 1px solid #000;
    margin: 15px;
}


.sec4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: radial-gradient(#eee, #f2f2f8);
    border: 1px solid #000;
    line-height: 1.5rem;
}


.map img {
    display: none;
}