@media only screen and (min-width: 64em) {

/************************ header, footer, navigation **********************/
.contact {
    grid-template-columns: 1fr 1fr 1fr;
}



/************************ main **********************/

main {
    max-width: 1500px;
  }

/************************ home page **********************/
    .stats {
        position: absolute;
        top: 250px;
        right: 50px;
}

.trips {
    grid-template-columns: 1fr 1fr 1fr;
}

/************************ guide page **********************/


main div {
    grid-template-columns: repeat(3, 1fr);
}
/************************ contact page **********************/

.contactUs {
    grid-template-columns: 1fr 1fr;
}
.map {
    margin: 3rem;
}
}