@media only screen and (min-width: 32.5em) {
/************************ header, footer, navigation **********************/

    .navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	.navigation li a {
		color: white;
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}

	.link {
		display: flex;
		margin: 0 auto;
	}

	.contact {
		grid-template-columns: 1fr 1fr;
	}
/************************ main **********************/

main {
	max-width: 800px;
  }
/************************ home page **********************/
	.stats {
		position: absolute;
		top: 225px;
		right: 40px;
	}

/************************ guide page **********************/
.cards {
	grid-template-columns: 1fr 1fr;
}

/************************ contact page **********************/

.infosec {
    margin: 2rem;
}


}