/************************ header, footer, navigation **********************/

header,
footer,
.heading {
    background-color: #100C1C;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: #100C1C;
    font-family: 'Montserrat', sans-serif;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: white;
    padding: 1rem;
    text-align: left;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #607394;
    color: white;
    font-weight: 700;
}

nav ul li.active a {
    text-decoration: underline;
    font-weight: 900;
}

.responsive li {
    display: block;
}

.link {
    display: none;
}

.contact {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
}


.social {
    margin: 0 auto;
}

.link ul,
a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 2rem;
}

footer p {
    font-size: 1rem;
    text-align: center;
}

footer h3 {
    text-align: center;
}

footer {
    padding: 1rem;
    display: grid;
}


/************************ main **********************/

main {
    padding: 2rem;
    background-color: #FDFCF7;
    font-family: 'Montserrat', sans-serif;
    max-width: 500px;
}

p {
    margin: 1rem;
}

/************************ home page **********************/

.heroimg {
    width: 100%;
    height: auto;
    border: 1px solid;
}

.stats {
    background: radial-gradient(#eee, #f2f2f8);
    border: 1px solid #000;
    padding: 1rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
    line-height: .2rem;
    box-shadow: 0 0 20px #111;
}

.stats p {
    font-size: 1rem;
}

.action {
    display: block;
    padding: 1rem;
    color: #607394;
}

h1 {
    color: #607394;
}

h1,
h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}


.trips {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    text-align: center;
}

.middle,
.lower,
.main {
    background-color: #A65133;
    color: white;
}


.trips img {
    border: 10px solid #A65133;

}

/************************ giude page **********************/

.cards {
    display: grid;
    padding: 1rem;

}

.cards section {
    margin: .1rem;
    border: 1px solid grey;
    background-color: #C3C4CE;
}

.cards section img {
    max-width: 80%;
    margin: 10px 30px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
}

/************************ contact page **********************/


.contactUs {
    display: grid;
    grid-template-columns: 1fr;
}

.raft img {
    border: 5px solid #A65133;
}

.map {
    border: 1px solid;
    background-color: #A65133;
    max-width: 400px;
    max-height: 400px;
    margin: 1rem;
}

.infosec {
    font-size: 1rem;
}

.infosec h2 {
    text-align: left;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #FA4B35;
    border-radius: 10px;
    padding: .5rem 2%;
    max-width: 500px;
 
}

form legend {
    color: #FA4B35;
    margin: 0 1rem;
    padding: 0 .5rem;
}

.top,
div {
    display: block;
    padding: 1rem;
    font-size: .8rem;
}

.top input,
.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.sbs {
    display: block;
    padding: 0 0 .75rem .75rem;
    color: #555;
}

.submitBtn {
    border: none;
    background-color: #FA4B35;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: #FA4B35 solid 6px;
}

form label.top input:required:valid {
    border-left: #FA4B35 solid 6px;
}

.flexly {
    display: flex;
    align-items: center;

}

label span {
    font-size: 1rem;
    padding: .5rem
}

/************************ reservations page **********************/

table,
th,
td {
    border: 1px solid #e7f0ed;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;

}


table {
    box-shadow: 10px 10px 10px #628ca6;
}

th,
td {
    padding: 10px;
    text-align: center;
}

thead th {
    background-color: #100C1C;
    font-size: 1.5rem;
    color: head;
    text-emphasis: bold;
    padding: 10px;
}

th,
.goal {
    background-color: #607394;
    color: white;

}


tr {
    background-color: #e7ffed;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}



tfoot tr {
    background-color: #7fb9c2;
    font-size: .7em;
}