@media only screen and (min-width: 64em) {
    main {
    display: block;
    max-width: 1500px;
    }

    img {
       float: left;
    }

    nav li  {
        display: block;
        width: 1500px;
      
    }

    section {
        max-width: 1500px;
    }

    header, footer {
        max-width: 1500px;
    }
}