@media only screen and (min-width: 64em) {
    main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    }

    img {
       float: left;
    }

    header, footer {
        max-width: 1500px;
    }
}