@media only screen and (min-width: 32.5em) {
  
    header {
        display: flex;
    }
    
    ul {
        display: flex;  
        
        }
    
   


    h1 {
        display: float;
        padding: 10px;
    }


}