header,
footer {
    background-color: rgb(92, 201, 92);
    color: white;
    font-family: 'Acme', sans-serif;
    padding: 3px;
    margin: 0 auto;
    max-width: 400px;
}

header {
    line-height: 2em;
    font-size: 36px;
    text-align: left;
}

footer {
    line-height: 1em;
    text-align: center;

}

nav a:hover {
    background-color: rgb(92, 201, 92);
    color: white;
}

ul {

    background-color: #ffff66;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Acme', sans-serif;
}


nav li a {
    display: block;
    color: black;
    text-align: left;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
}

main {
    padding: 10px;
    font-family: 'Playfair Display', serif;
    max-width: 400px;
    font-size: 1.5em;
    margin: 10px;
}

table, th, td {
    border: 1px solid black;
  }

header img {
    max-width: 150px;
    border-radius: 20px;
}

img {
    max-width: 500px;
}

.font1 {
    font-family: 'Playfair Display', serif;

}

.font2 {
    font-family: 'Acme', sans-serif;
}
h2 { 
    font-weight: bold;
    background-color: rgb(92, 201, 92);
    color: white;
    font-size: 36px;
}
section {
    background-color: rgb(132, 222, 238);
    max-width: 300px;
    text-indent: 20px;
        
}

footer a:visited {
    color: white
}